
@import "common";
$colors: (
button:#712121,
text: #ffffff);

@function getcolor($color){
    @return map-get($map: $colors, $key: $color)
};

/*Codeforpage*/

html{
    font-size: 16px;
}
body{
    height: 100%;
}
.bg{
@extend %bg;
    background-image: url(../images/mainphone.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
h1{
    color: getcolor(text);
    height: 60px;
    line-height: 60px;
    font-weight: 400;
    font-size: 1.875rem;
    text-align: center;
    background-color: rgba(getcolor(button), 0.75);
  font-family: NewBodoni;
}
nav{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}
a{
    background-color: getcolor(button);
    text-decoration: none;
    color:getcolor(text);
    height: 30px;
    margin: 30px 17px  15px;
}
#contactme{
    width: 280px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0px;
    background-color:getcolor(button) ;
}
button{
    border: none;
    background-color: transparent;
    color: getcolor(text);
    cursor: pointer;
    font-family: thamesC;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 25px;

    &:focus{
        outline: none;
    }
}

#modal {
    position: fixed;
    font-family: Bahnschrift, Helvetica;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 5;
    opacity:0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear 0s;
}

#modal.open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

#modal div{
    width: 200px;
    height: 140px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    background-color: #712121;
    margin: auto;
}
.modal-close{
    width: 200px;
    height: 25px;
    padding-right: 10px;
    background-color: transparent;
    font-size: 0.55rem;
    text-align: right;
    color: #fff;
    margin-top: 0px;
    &:hover{
        transform: none;
    }
}
#modal h1{
    width: 100%;
    position: static;
    height:25px;
    @include fonts(1.125rem, 1.5625rem);
    font-family:'NewBodoni';
text-align: center;
background-color:#996059;
margin-bottom: 16px;
}
#modal p{
    font-family: thamesC;
    text-align: center;
    color: #fff;
    @include fonts(0.75rem, 0.875rem);
    margin-bottom: 15px;
}
#modal span{
    font-size: 0.875rem;
}



@media screen and (min-width: 576px){
    #contactme{
        width: 130px;
        margin-top: 30px;
        margin-bottom: 20px;
    
    }
}

@media screen and (min-width: 576px) and (orientation:landscape)
{
 .bg{
        background-image: url(../images/maindesktop.png);
        display:flex;
        justify-content: flex-start;
        align-items: flex-end;
}
h1{
    font-weight: 400;
    font-size: 2.25rem;
    background-color: transparent;
    text-align: left;
 width: 45%;
 position:relative;
 top:30%;
 margin-block-start:0em;
 margin-block-end:0em;
}
nav{
    width: 45%;
    position:relative;
    top:30%;
    justify-content: flex-start;
    z-index: -1;
    animation-name: fallout;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
a{
    background-color: transparent;
    text-decoration: none;
    margin:12px;
}

#contactme{
 text-align: left;
 margin: 0;
 position: relative;
 top:40px;
 right:200px;
 color:transparent;
}
button:hover{
transition:1s ;
transform: scale(1.3);
}

#modal div{
    width: 450px;
    height: 250px;
}

    .modal-close{
        width: 450px;
        height: 35px;
        font-size: 1.25rem;
    }

#modal h1{
    height:50px;
    @include fonts(1.75rem, 3.125rem);
    margin-bottom: 30px;
}
#modal p{
    @include fonts(1.25rem, 1.5625rem);
    margin-bottom: 20px;
}
#modal span{
    font-size: 1.5rem;
}



}

@keyframes fallout {
    0%{
        transform: translate(0px, -50px);
        z-index: -1;
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        z-index:1;
        opacity: 1;
    }
}
