@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'NewBodoni';
  src: url("/font/newBodoni.woff") format("woff"), url("/font/newBodoni.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'thamesC';
  src: url("/font/thamesC.woff") format("woff"), url("/font/thamesC.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

.bg {
  min-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Codeforpage*/
html {
  font-size: 16px;
}

body {
  height: 100%;
}

.bg {
  background-image: url(images/mainphone.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

h1 {
  color: #ffffff;
  height: 60px;
  line-height: 60px;
  font-weight: 400;
  font-size: 1.875rem;
  text-align: center;
  background-color: rgba(113, 33, 33, 0.75);
  font-family: NewBodoni;
}

nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  background-color: #712121;
  text-decoration: none;
  color: #ffffff;
  height: 30px;
  margin: 30px 17px  15px;
}

#contactme {
  width: 280px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;
  background-color: #712121;
}

button {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: thamesC;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 25px;
}

button:focus {
  outline: none;
}

#modal {
  position: fixed;
  font-family: Bahnschrift, Helvetica;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

#modal.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#modal div {
  width: 200px;
  height: 140px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #712121;
  margin: auto;
}

.modal-close {
  width: 200px;
  height: 25px;
  padding-right: 10px;
  background-color: transparent;
  font-size: 0.55rem;
  text-align: right;
  color: #fff;
  margin-top: 0px;
}

.modal-close:hover {
  -webkit-transform: none;
          transform: none;
}

#modal h1 {
  width: 100%;
  position: static;
  height: 25px;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-family: 'NewBodoni';
  text-align: center;
  background-color: #996059;
  margin-bottom: 16px;
}

#modal p {
  font-family: thamesC;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin-bottom: 15px;
}

#modal span {
  font-size: 0.875rem;
}

@media screen and (min-width: 576px) {
  #contactme {
    width: 130px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 576px) and (orientation: landscape) {
  .bg {
    background-image: url(images/maindesktop.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  h1 {
    font-weight: 400;
    font-size: 2.25rem;
    background-color: transparent;
    text-align: left;
    width: 45%;
    position: relative;
    top: 30%;
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
  }
  nav {
    width: 45%;
    position: relative;
    top: 30%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: -1;
    -webkit-animation-name: fallout;
            animation-name: fallout;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  a {
    background-color: transparent;
    text-decoration: none;
    margin: 12px;
  }
  #contactme {
    text-align: left;
    margin: 0;
    position: relative;
    top: 40px;
    right: 200px;
  }
  button:hover {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  #modal div {
    width: 450px;
    height: 250px;
  }
  .modal-close {
    width: 450px;
    height: 35px;
    font-size: 1.25rem;
  }
  #modal h1 {
    height: 50px;
    font-size: 1.75rem;
    line-height: 3.125rem;
    margin-bottom: 30px;
  }
  #modal p {
    font-size: 1.25rem;
    line-height: 1.5625rem;
    margin-bottom: 20px;
  }
  #modal span {
    font-size: 1.5rem;
  }
}

@-webkit-keyframes fallout {
  0% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
    z-index: -1;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    z-index: 1;
    opacity: 1;
  }
}

@keyframes fallout {
  0% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
    z-index: -1;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    z-index: 1;
    opacity: 1;
  }
}
/*# sourceMappingURL=indexstyle.css.map */
