@import "common";

$maincolor:#FCE3D2;

.bg{
    background-image: url(../images/skillsphone.png);
@extend %bg;
min-height: 100vh;
}
nav{
@extend %navstyle;
}
a{
@extend %astyle;
}
h1{
    @extend %h1;
}


.container{
    margin: 10%;
    width:70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    justify-content: center;
}

h2{
    color:$maincolor;
    font-weight: 700;
    font-family: thamesC;
    font-size: 1.25rem;
    line-height: 24px;
    margin-bottom: 20px;
    font-style: italic;
}

li{
    color: $maincolor;
    font-family: Noto Serif;
font-weight: 600;
@include fonts(0.875rem, 1.1875rem);
}
#hard{
    li{
        margin-bottom:10px;
        ul{ color: #E9BB9A;
            li{
                font-size: 0.75rem;
                margin-bottom: 5px;
                position: relative;
                left:80px;
            }
        }
    }
}
.mark{
    display: inline-block;
    border: 8px solid transparent; border-left: 8px solid #F3945E;
    width:0px;
    height: 0px;
    margin: 0 !important;
    align-self: center;
}

#soft{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-row-gap: 10px;
    padding-bottom: 15px;
    li{
        display: inline-block;
        align-self: center;
    }
}
.extra{
    display: block;
    @include fonts(0.75rem, 1rem);
    color: #E9BB9A;
}


// Media

@media screen and (min-width: 576px) and (orientation: landscape)
{
.bg{
    background-image: url(../images/skillsdesktop.png);
}
nav{
    padding-top: 40px;
    margin-bottom: 50px;
}
    a{
        @include fonts(1.25rem, 1.5rem);
             margin: 100px;
             opacity: 0.7;
             &:hover{ 
                 opacity: 1;
             }
         }
         h1{
            font-size: 2.25rem;}
 h2{
    @include fonts(2rem, 2.5rem)
 }

 .container{
     margin: 10%;
    grid-template-columns: 45% 45%; 
    grid-column-gap: 10%;
 }
 .container>div{
     margin:0 auto;
 }

 li{
    @include fonts(1.5rem, 2rem);
 }
 .mark{
    border: 10px solid transparent; border-left: 10px solid #F3945E;
 &:hover{
       transform: rotate(720deg);
       transition-duration: 0.9s;
}
 }

.extra{
    display: block;
    @include fonts(0.875rem, 1.1875rem);
    color: #E9BB9A;
}
#hard{
    li{
        ul{
            li{
                font-size: 1.125rem;
                position: relative;
                left:80px;
            }
        }
    }
}
}
