@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'NewBodoni';
  src: url("/font/newBodoni.woff") format("woff"), url("/font/newBodoni.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'thamesC';
  src: url("/font/thamesC.woff") format("woff"), url("/font/thamesC.otf") format("otf");
  font-style: normal;
  font-weight: normal;
}

a {
  color: #fff;
  font-weight: 400;
  font-family: thamesC;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  margin: 9%;
}

nav {
  margin-bottom: 35px;
  text-align: center;
  padding-top: 15px;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-family: thamesC;
  font-size: 1.5rem;
  text-align: center;
}

.bg {
  min-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg {
  background-image: url(/images/aboutphone_yes.png);
}

#cube {
  display: none;
}

p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  color: #fff;
  margin-left: 15%;
  margin-right: 53%;
  margin-bottom: 20px;
  line-height: 1.25rem;
  font-size: 0.875rem;
  position: relative;
  top: 20%;
  font-family: 'Noto Serif', serif;
}

span {
  font-style: italic;
}

@media screen and (min-width: 576px) {
  a {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 33px;
  }
  nav {
    padding-top: 40px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 576px) and (orientation: landscape) {
  .bg {
    background-image: url(/images/aboutdesktop.png);
  }
  nav {
    padding-top: 40px;
    margin-bottom: 50px;
  }
  a {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 100px;
    opacity: 0.7;
  }
  a:hover {
    opacity: 1;
  }
  #cube {
    display: block;
    position: absolute;
    width: 285px;
    height: 220px;
    margin-left: 10%;
    background-color: rgba(158, 88, 88, 0.6);
    z-index: 1;
  }
  h1 {
    font-size: 2.25rem;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 35px;
    padding-top: 35px;
    position: relative;
    z-index: 2;
  }
  p {
    font-size: 1.5rem;
    line-height: 33px;
    position: relative;
    top: 0;
    z-index: 2;
    margin-right: 55%;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=aboutstyle.css.map */